<li class="span3">
  <div class="thumbnail">
    <%= image_tag lawyer.avatar.url(:medium) %>
    <h3><%= lawyer.name %></h3>
    <%= link_to '#',
        data: {
        "opentok-session-id" => lawyer.opentok_session_id ,
        "opentok-token-id"  => lawyer.opentok_token_id,
        "opentok-api-key"  => "25325972"
        },
        class: 'btn' do %>
       <i class="icon-facetime-video"></i>
       Video
     <% end %>
     <%= link_to '#', class: 'btn' do %>
        <i class="icon-phone "></i>
        Phone
      <% end %>
  </div>
</li>
