<div id="lawyer-index">
  <ul class="thumbnails">
    <%= render @lawyers %>
  </ul>
  <div id="video-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Video</h3>
    </div>
    <div class="modal-body">
      <div id="video-content"></div>
      <div id="myPublisherDiv">
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>