<div id="lawyer-show" data-opentok-session-id="<%= current_user.opentok_session_id%>" data-opentok-token-id="<%= current_user.opentok_token_id%>" data-opentok-api-key="25325972">
  <div id="myPublisherDiv">
  </div>
</div>