<% if model.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-error">
    The following <%= pluralize(model.errors.count, "error") %> prevented you from filling this form.
  </div>
  <ul>
    <% model.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>