@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";
@import 'font-awesome';

// error messages
#error_explanation {
  color: #f00;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

// header
.nav {
  &.user {
    margin-left: 7px;
    line-height: 3;

    .avatar {
      max-width: 20px;
    }
  }

  span.signin {
    margin-left: 20px;
  }
}

body.homepage{
  background-image: url("/assets/background.jpg");
}

// main page
.hero-unit {
  height:350px;
  position:relative;
  top:100px;
  background-image: url("/assets/hero-bg.png");
  background-repeat: repeat-x;
  background-color:transparent;
  color:#AA9;
  h3 small {
    display: block;
  }
  padding-right:0px;
}

.hero-unit .content-wrapper{
  float:left;
  width:60%;
}

.hero-unit .lawyer-profile{
  float:left;
  width:40%;
  height:100%;
}

.profile-image{
  max-height:70%;
}

.profile-box{
  text-align:center;
  border:1px;
  border-color:white;
  height:100%;
}

.btn-primary{
  background-image: linear-gradient(to bottom, #2169a1, #122c61);
  background-repeat: repeat-x;
}

// add game form
.new_game .input-append div.add-on {
    height: inherit !important;
}
