<ul class="nav pull-right">
  <li>
    <%= link_to "Log In", new_session_path %>
  </li>
  <li>
    <%= link_to "Client Signup", new_client_path %>
  </li>
  <li>
    <a href="#">
      <i class="icon-legal"></i>
      Lawyer Signup
    </a>
  </li>
</ul>